@media only screen and (max-width: 1150px) {
  .modal-content {
    max-width: 55%;
  }
}
@media only screen and (max-width: 790px) {
  .modal-content {
    max-width: 80%;
  }
  .modal {
    flex-direction: column;
  }

  .intro-title {
    font-size: 30px;
  }

  .intro-text {
    width: 300px;
  }
  .intro-img {
    width: 250px;
    height: 250px;
  }
  .intro-suptitle {
    width: 300px;
  }
  .about-inner {
    flex-direction: column;
  }
  .about-inner img {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .intro-img {
    display: none;
  }
  .intro-inner {
    text-align: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 425px) {
  .about-inner img {
    width: 300px;
    height: 300px;
  }
  .contact-email-text {
    font-size: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .image {
    overflow: visible;
    padding-top: 10px;
  }
  .image img {
    width: 350px;
    height: 350px;
  }
}
@media only screen and (max-width: 715px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
